Repository COS301-SE-2024/Crop-Prediction-System, pull requests merged in 2024-09, with the labels that each got.

#211 Model Improvements
  backend/app.py
  backend/model/model.py
Labels: model, endpoint

#253 UP Sensor Integration
  backend/app.py
  backend/database/supabaseFunctions.py
  backend/sensors/__init__.py
  backend/sensors/dump.json
  backend/sensors/farmerSensor.py
  backend/sensors/getData.py
Labels: backend, IoT

#250 Feature/frontend/csv fixes
  .github/workflows/backend_deploy.yml
  frontend/components/GoogleMap.vue
  frontend/components/LogsView.vue
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/pages/log-data/view-logs/index.vue
  frontend/pnpm-lock.yaml
  frontend/server/api/updateEntry.ts
  frontend/tests/integration/GetData.spec.ts
  frontend/tests/integration/Navbar.spec.ts
  frontend/tests/integration/ShowMap.spec.ts
  frontend/tests/integration/SideBar.spec.ts
  frontend/tests/unit/GoogleMap.spec.ts
  frontend/tests/unit/NavigationMenu.spec.ts
Labels: frontend
