Repository COS301-SE-2024/Crop-Prediction-System, pull requests merged in 2024-06, with the labels that each got.

#29 Finished Feature/home
  .gitignore
  frontend/components/FieldData.vue
  frontend/components/PolarStat.vue
  frontend/components/StatPanel.vue
  frontend/layouts/default.vue
  frontend/package.json
  frontend/pages/index.vue
  frontend/pnpm-lock.yaml
Labels: frontend

#32 Mobile Compatibility + Dark Mode
  frontend/assets/logo-alt.png
  frontend/components/FieldData.vue
  frontend/components/LogsToolbar.vue
  frontend/components/LogsView.vue
  frontend/components/Navbar.vue
  frontend/components/NavigationMenu.vue
  frontend/components/Sidebar.vue
  frontend/layouts/default.vue
  frontend/pages/index.vue
  frontend/pages/inputs/manage-fields/index.vue
  frontend/tailwind.config.js
Labels: enhancement

#34 Login and Signup functionality done (Form validation needed)
  frontend/components/Navbar.vue
  frontend/eslint.config.mjs
  frontend/layouts/auth.vue
  frontend/middleware/auth.ts
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/pages/Login/index.vue
  frontend/pages/Signup/index.vue
  frontend/pages/analytics/crop-yield-data/index.vue
  frontend/pages/index.vue
  frontend/pages/inputs/add-field-data/index.vue
  frontend/pages/inputs/manage-fields/index.vue
  frontend/pages/log-data/view-logs/index.vue
  frontend/pages/model-training/manage-model/index.vue
  frontend/pnpm-lock.yaml
Labels: backend, frontend

#14 Finalising SRS and readme for Demo 1
  .gitignore
  README.md
  docs/SRS Demo 1.pdf
  docs/cps.vpp
  docs/d1_classdiagram.png
  docs/d1_database.png
  docs/sub_fieldmanagement.png
  docs/sub_usermanagement.png
Labels: documentation

#74 Removed ability to manage multiple teams
  frontend/components/NavigationMenu.vue
  frontend/components/Sidebar.vue
  frontend/presets/lara/menu/index.js
Labels: enhancement, frontend

#80 API + ML Model
  .coverage
  .github/workflows/assertible.yml
  .github/workflows/backend_deploy.yml
  .gitignore
  README.md
  __init__.py
  backend/README.md
  backend/app.py
  backend/database/field.py
  backend/database/supabaseFunctions.py
  backend/logic/calculateHectare.py
  backend/maize_ton_per_hectare_yield_prediction_model.keras
  backend/model/base.py
  backend/model/cropHealth.py
  backend/model/eda/eda.r
  backend/model/eda/eda_chirps.R
  backend/model/eda/eda_effectiveYield.R
  backend/model/eda/eda_ndvi.R
  backend/model/eda/eda_uea.R
  backend/model/knn_function.py
  backend/model/model.R
  backend/model/modelv2.py
  backend/model/optimums.csv
  backend/model/predict.py
  backend/model/processed_data/model_data_imputed.csv
  backend/model/processed_data/model_data_soil_moisture.csv
  backend/model/processed_data/yield.csv
  backend/model/wheat_ton_per_hectare_yield_prediction_model.keras
  backend/model/yield_prediction_model.keras
  backend/requirements.txt
  backend/test/test_app.py
  backend/wheat_ton_per_hectare_yield_prediction_model.keras
  docs/cps.vpp
  docs/d2_classdiagram.png
  docs/d2_sub_croppredictionmodel.png
  docs/d2_sub_fieldmanagement.png
  requirements.txt
  wheat_ton_per_hectare_yield_prediction_model.keras
Labels: backend
